<div class="container">
	<div class="page-header">
		<h1>It worked!</h1>
	</div>
	<p class="lead">
		This is the default home page.
	</p>
	<p>
		Check the documentation on routes, controllers, models and views to get started.
	</p>
</div>